#result {
    display: none;
    margin-top: 8%;
}


body {
    background: url('../img/coin-background.png');
    position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: peachpuff;
}

.container {
  text-align: center;
  width: 58%;
  padding-top:215px;
  margin-left: 30%;
}
